



/* nav  */






.navbar {
    
    padding: 10px 0;
}

.nav-child {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 24px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #0077cc;
}


.contact-btn {
    padding: 8px 18px;
    border: 1px solid #00bfa6;
    border-radius: 8px;
    color: #00bfa6;
    transition: 0.3s;
      background-color: #fff;
}

.contact-btn:hover {
    background-color: #00bfa6;
    color: #fff;
}
